@model int

<input type="hidden" name="Isbn" class="form-control" value="@Model">

<div class="form-group">
    <label class="col-lg-5 control-label">Ödünç Alan Kişinin Adı Soyadı</label>
    <div class="col-lg-7">
        <input type="text" name="Borrower" class="form-control" required>
    </div>
</div>

<div class="form-group">
    <div class="col-lg-offset-6 col-lg-6">
        <button class="btn btn-send" type="button" onclick="bookStore.borrowBook()"> İşlemi Tamamla</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
    </div>
</div>